
# Software (conda) requirements for TRIBES pipeline
#
# requires channels: bioconda aehrc
# run with:
#	conda install -y -c bioconda -c aehrc --clobber --file requirements.txt
#
#python packages
pandas==0.24.2
numpy==1.16.3
scipy==1.2.1
# R packages
r-base==3.5.1
r-optparse
r-dplyr
r-rmarkdown
r-ggplot2
# other tools
pandoc=2.7.2
# bioconda packages
beagle=4.1_21Jan17.6cc.jar
bcftools=1.9
vcftools=0.1.16
#aehrc packages
germline=1.5.3